<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('layout/head.ejs'); %>
</head>
<body>
    <%- include('layout/navigation.ejs'); %>

    <div class="content" id="swup">    
        <h2 class="error-icon"><i class="las la-exclamation-circle"></i></h2>        
        <h2 class="error-title"><%= errorTitle %></h2>
        <p class="error-text"><%= errorText %></p>

        <% if(lastUrl) { %>
        <div class="flex">
            <a style="margin: auto" class="button" href="<%= lastUrl %>"><i class="las la-undo"></i> Retour à la page précédente</a>
        </div>
        <% } %>
    </div>

    <script src="/js/main.js"></script>
</body>
</html>