<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('layout/head.ejs'); %>
</head>

<body>
    <%- include('layout/navigation.ejs'); %>

    <div class="content" id="swup">
        <h3 class="title is-3"><%= pageName %></h3>
        <a class="button" href="/new/<%= entityName %>"><i class="las la-plus"></i> Ajouter</a>


        <% if(note) { %>
            <div class="note-<%= note.type %>">
                <p class="note-text"><%- note.text %></p>
            </div>
        <% } %>
        
        <table class="table">
            <thead>
                <tr>
                    <% for (var i = 0; i < Object.values(rows).length; i++) { if(!Object.values(rows)[i].doNotDisplay) { %>
                    <th><%= Object.values(rows)[i].displayName %></th>
                    <% }} %>
                </tr>
            </thead>
            <tbody>
                <% for (var i = 0; i < data.length; i++) { %>
                <tr>
                    <% for (var j = 0; j < Object.keys(rows).length; j++) { %>
                    <% if((Object.values(rows)[j].isPrimaryKey || Object.values(rows)[j].isForeignKey) && Object.values(rows)[j].showLink) { %>
                    <td>
                        <a href="/<%= Object.values(rows)[j].references %>/<%= data[i][Object.keys(rows)[j]] %>"><%= data[i][Object.keys(rows)[j]] %>&nbsp;&nbsp;<i class="las la-external-link-alt"></i></a>
                    </td>
                    <% } else if(!Object.values(rows)[j].doNotDisplay) { %>
                    <td><%= data[i][Object.keys(rows)[j]] %></td>
                    <% } %>
                    <% } %>
                </tr>
                <% } %>
            </tbody>
        </table>

        <div class="modal" id="modal-create">
            <div class="modal-background"></div>
            <div class="modal-card">
                <form method="POST">
                <header class="modal-card-head">
                    <p class="modal-card-title">Nouveau</p>
                    <button type="button" class="delete" aria-label="close" onclick="showModal('modal-create', false)"></button>
                </header>
                <section class="modal-card-body">
                    <% for (var j=0; j < Object.keys(rows).length; j++) { if(!Object.values(rows)[j].autoIncrement) {%>
                    <div class="field">
                        <label class="label" for="<%= Object.values(rows)[j] %>">
                            <%= Object.values(rows)[j].displayName %>
                        </label>
                        <div class="control">
                            <input class="input" type="<%= Object.values(rows)[j].type %>" name="<%= Object.keys(rows)[j] %>" value="">
                        </div>
                    </div>
                    <% }} %>
                </section>
                <footer class="modal-card-foot">
                    <button class="button is-success" onclick="showModal('modal-create', false)">Confirmer la
                        création</button>
                </footer>
                </form>
            </div>
        </div>
    </div>

    <script src="/js/main.js"></script>
</body>

</html>