<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('layout/head.ejs'); %>
    <link rel="stylesheet" href="/css/anim.css">
</head>

<body>
    <div class="content background-login">
        <form method="POST">
            <div class="login-box">
                <h3 class="title is-3">Connexion</h3>
                <% if(error) { %>
                <p class="error-title"><i class="las la-ban"></i> Oops, accès refusé</p>
                <p class="error"><%= error %></p>
                <% } %>

                <% if(success) { %>
                    <p class="success-title"><i class="las la-check"></i> Connexion réussie</p>
                    <p class="success"><%= success %></p>
                    <script>setTimeout(() => window.location.href='/', 3000);</script>
                <% } %>

                <div class="field">
                    <label class="label" for="email">
                        Adresse e-mail
                    </label>
                    <div class="control">
                        <input class="input" type="email" name="email" value="">
                    </div>
                </div>

                <div class="field">
                    <label class="label" for="password">
                        Mot de passe
                    </label>
                    <div class="control">
                        <input class="input" type="password" name="password" value="">
                    </div>
                </div>

                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="button"><i class="las la-sign-in-alt"></i> Connexion</button>
            </div>
        </form>
    </div>
</body>

</html>