<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('layout/head.ejs'); %>
</head>
<body>
    <%- include('layout/navigation.ejs'); %>

    <div class="content" id="swup">            
        <h3 class="title is-3">Permissions manquantes</h3>
    </div>

    <script src="/js/main.js"></script>
</body>
</html>