@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import "https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css";
@import url('/fonts/TT Norms/style.css');

* {
    margin: 0;
}

body {
    font-family: 'TT Norms', sans-serif;
}

div.header {
    font-family: 'TT Norms', sans-serif;
    font-variant-ligatures: no-common-ligatures;
    background: #1d2a3b;
    padding: 20px 5% 0 5%;
}

div.navigation {
    display: flex;
    gap: 20px;
}

div.content {
    padding: 50px 5%;
}

a.nav-link {
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    padding: 10px 20px;
    color: #ffffff;

    border: 3px solid transparent;
    border-bottom: none;
}

a.nav-link:hover {
    background: #ffffff;
    color: #1d2a3b;


    border: 3px solid;
    border-bottom: none;

    border-image: linear-gradient(90deg,#fdf2a8,#fce7c4 11.9%,#fcd4c4 22.78%,#fdc1bf 34.95%,#fdbfe5 47.67%,#e6bffd 61.96%,#bfc6fd 71.1%,#bff4fd 80.81%,#bffdcd 89.18%,#e3fdbf);
    border-image-slice: 1;
}

.button {
    outline: none;
    background: #F0FAFF;
    border: none;
    border-radius: 7px;
    color: #1d2a3b;
    font-family: 'TT Norms', sans-serif;
    font-variant-ligatures: no-common-ligatures;
    border: 2px solid transparent;
    font-weight: 500;
}

.button-danger {
    background: #fb2612;
    color: #ffffff;
}

.button:hover {
    border: 2px solid #1d2a3b;
    background: #F0FAFF;
    color: #1d2a3b;
}

.button-danger:hover {
    border: 2px solid #000000;
    background: #fb2612;
    color: #ffffff;
}

.button i {
    margin-right: 10px;
}

h3.title {
    font-weight: 600;
    font-size: 20px;
    color: #1d2a3b;
    text-decoration: underline;
    text-decoration-color: #f2d5b3;
}

table.table {
    margin-top: 50px;
    font-family: 'TT Norms', sans-serif;
    font-variant-ligatures: no-common-ligatures;
}

table.table thead {
    color: #1d2a3b;
}

table.table thead th {
    color: #1d2a3b;
    border-bottom: 2px solid #1d2a3b;
}

table.table td {
    font-weight: 500;
}

div.note-success {
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 20px;
    color: #52bb40;
    font-weight: 500;
}

div.note-error {
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 20px;
    color: #fb2612;
    font-weight: 500;
}

p.note-text {
    font-size: 20px;
}

p.note-text i {
    margin-right: 30px;
}

div.login-box {
    background: #ffffff;
    margin: auto;
    padding: 40px;
    max-width: 500px;
}

p.error {
    color: #fb2612;
}

p.error-title {
    margin-bottom: 0 !important;
    color: #fb2612;
    font-size: 20px;
    font-weight: 600;
}

p.success {
    color: #52bb40;
}

p.success-title {
    margin-bottom: 0 !important;
    color: #52bb40;
    font-size: 20px;
    font-weight: 600;
}

p.currentuser {
    border-radius: 20px;
    padding: 3px 20px;
    width: fit-content;
    background: #ffffff;
    font-weight: 500;
    margin-bottom: 15px;
    color: #1d2a3b;
    font-size: 15px;
}

a.disconnect {
    border-radius: 20px;
    padding: 3px 20px;
    width: fit-content;
    background: #f85e42;
    font-weight: 500;
    margin-bottom: 15px;
    color: #ffffff;
    font-size: 15px;
}

div.flex {
    gap: 10px;
    display: flex;
    justify-content: left;
}

input, select, option {
    font-family: 'TT Norms', sans-serif;
}

h2.error-title {
    text-align: center;
    font-family: 'TT Norms', sans-serif;
}

h2.error-icon {
    margin: auto;
    border-radius: 50%;
    line-height: 70px;
    width: 70px;
    height: 70px;
    background: #000000;
    color: #fbff29;
    font-size: 50px;
    text-align: center;
    font-family: 'TT Norms', sans-serif;
}

p.error-text {
    text-align: center;
    font-family: 'TT Norms', sans-serif;
}