<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Curry</title>
<script src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>
<script src="/js/SwupFadeTheme.js"></script>
<link rel="stylesheet" href="/css/main.css">