<div class="header">
    <div class="flex">
        <p class="currentuser"><i class="las la-user"></i>&nbsp;&nbsp;Connecté en tant que <%= user.first_name %></p>
        <a class="disconnect" href="/logout"><i class="las la-sign-out-alt"></i>&nbsp;&nbsp;Se déconnecter</a>
    </div>
    
    <div class="navigation">
        <a class="nav-link" href="/"><i class="las la-home"></i>&nbsp;&nbsp;Accueil</a>
        <a class="nav-link" href="/pompiers"><i class="las la-fire-alt"></i>&nbsp;&nbsp;Pompiers</a>
        <a class="nav-link" href="/casernes"><i class="las la-house-damage"></i>&nbsp;&nbsp;Casernes</a>
        <a class="nav-link" href="/users"><i class="las la-user"></i>&nbsp;&nbsp;Utilisateurs</a>
    </div>
</div>